body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    background: #444;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    height: 800px;
    display: flex;
    align-items: top;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

main {
    padding: 1rem;
}

.room1 {
    background: url('https://plus.unsplash.com/premium_photo-1670076505453-b62b8cb214da?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}
.room2 {
    background: url('https://watermark.lovepik.com/photo/20211120/large/lovepik-light-color-bedroom-book-room-drawing-picture_500394602.jpg');
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}
.room3 {
    background: url('https://api.makemyhouse.com/public/Media/rimage/1024/designers_project/1614317432_414.jpeg?watermark=false');
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}
.contat{
background: url('https://img.freepik.com/free-photo/top-view-blue-monday-concept-composition-with-telephone_23-2149139104.jpg');
margin: 1rem 0;
padding: 1rem;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bookin{
    background: url('https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?q=80&w=1904&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
.facility1 {
    background: url('https://img.freepik.com/premium-photo/gym-background-enough-blank-space-light-white-tone-modern-style-generative-ai_527096-25225.jpg?w=740');
    margin:1rem 0;
    padding:1rem;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.facility2 {
    background: url('https://media.istockphoto.com/id/1262572386/photo/elegant-yet-informal-dining-area-of-new-home-with-coffered-ceiling.jpg?s=612x612&w=0&k=20&c=7cNxQ1SQ7U2ebfVOkwEwpkJJ91136PxdxIXkjuDgi08=');
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.facility3 {
    background:url('https://hips.hearstapps.com/hmg-prod/images/gettyimages-165479189-1562001893.jpg');
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.facility4 {
    background:url('https://www.tripsavvy.com/thmb/AuA8Yre5itGsVbF4lfB9Dt7IP6w=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Eau-Palm-Beach-Resort-Florida-Club-Lounge-5905170b3df78c5456df80fa.jpg');
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
